:root {
    color-scheme: light dark;
    --green: #007b55;
    --yellow: #daaf38;
    --red: #ca4754;
    --black: #222;
    --gray: #999;
    --white: #ffffff;
}

body {
    background-color: var(--black);
    font-family: 'Courier New', Courier, monospace;
    color: var(--white);
    display: grid;
    padding: 32px;
    justify-content: center;
    margin-top: 100px;
}

section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
}

time {
    color: var(--yellow);
}

input {
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /*opacity: 0;*/
}

p {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 8px;
}